name: Github Actions
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: test workflow
        run: echo hellow world!
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: test workflow
        run: echo testing the step!
